<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sistemproje.Properties.Settings.OtelOtomasyonConnectionString"
            connectionString="Data Source=DESKTOP-S657VTM\SQLEXPRESS;Initial Catalog=OtelOtomasyon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="sistemproje.Properties.Settings.OtelOtomasyon2ConnectionString"
            connectionString="Data Source=DESKTOP-S657VTM\SQLEXPRESS;Initial Catalog=OtelOtomasyon2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>